body {
    margin: 0;
    padding: 0;
    background-color: #202124;
    color: #f0f0f0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 1rem;
}

.contain h1 {
    margin-top: 2vh;
    font-size: 2rem;
    font-weight: 700;
}

.contain #title {
    margin-bottom: 2rem;
    text-align: center;
}

.contain p {
    font-style: italic;
    font-size: 0.8rem;
}

#input-container {
    width: 25%;
}

#input-container textarea {
    width: 100%;
    max-width: 100%;
    height: 4rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    color: #202124;
    padding: 1px 5px;
    word-wrap: break-word;
    white-space: normal;
}

.contain #send-container {
    display: flex;
    justify-content: center;
    width: 15%;
}

.contain #send {
    margin-top: 1rem;
    border: 1px solid #f0f0f0;
    width: 50%;
    padding: 5px 25px;
    border-radius: 10px;
    transition: 0.2s;

}

.contain #send:hover {
    transition: 0.2s;
    transform: scale(1.05);
}

.contain #send:focus {
    background-color: #f0f0f0;
    color: #101010;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    max-height: 80vh;
    margin-top: 1rem;
    padding: 0 1rem;
}

#loader {
    margin-top: 1rem;
    margin-left: 3rem;
}
svg path,
svg rect{
  fill: #FF6700;
}

@media screen and (max-width: 767px) {
    .contain h1 {
        font-size: 1.5rem;
    }
    
    #input-container {
        width: 50%;
    }

    #input-container input {
        height: 4rem;
    }

    .contain #send-container {
        width: 50%;
    }

    .contain #send {
        width: 70%;
        padding: 5px 15px;
    }
    
    #main {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    
}

@media screen and (max-width: 479px) {
    .contain h1 {
        font-size: 1.2rem;
    }
    
    #input-container {
        width: 90%;
    }

    /*#input-container textarea {
        height: 5rem;
    }*/

    .contain #send-container {
        width: 75%;
    }

    .contain #send {
        width: 90%;
        padding: 5px 10px;
    }
}

/* WebKit-based browsers */
::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* color of the scrollbar thumb */
    border-radius: 6px; /* roundness of the scrollbar thumb */
  }
  
  /* Mozilla Firefox */
  ::-moz-scrollbar {
    width: 12px; /* width of the scrollbar */
  }
  
  ::-moz-scrollbar-track {
    background: transparent; /* color of the scrollbar track */
  }
  
  ::-moz-scrollbar-thumb {
    background-color: #888; /* color of the scrollbar thumb */
    border-radius: 6px; /* roundness of the scrollbar thumb */
  }